@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto+Slab:wght@100&display=swap');

/* nunito font*/

*{
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background: url('bg.png');
    background-size: cover;
    font-family: Nunito, sans-serif, Arial, Helvetica, sans-serif;
}
.table{
position: absolute;
left: 60%;
top: 60%;
transform: translate(-50%,-50%);
}
.table::before{
    content: '';
    position: absolute;
    height: 110%;
    width: 110%;
    left: -5%;
    top: -5%;
    background-color: rgba(206, 137, 137, 0.3);
    box-shadow: 0px 0px 166px -31px rgba(0, 0, 0, 0.15);
    border-radius: 60px;
    z-index: -1;
}
h1{
    font-weight: bold;
    font-size: 40px;
    padding: 40px 0;
}