*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	list-style-type: none;
	text-decoration: none;
	text-transform: all 0.3s linear;
	outline:none;
}
.box{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 800px;
    height: 95px;
    border: 5px solid red;
    margin: 25px 50px 75px 100px;
}
.container h1 span{
    color: red;
    font-style: oblique;
}
.container h1{
    color: #fff;
    font-size: 2rem;
}
.container{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),url(../images/register.jpg);
    background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
p{
    font-style: 'Open Sans';
    color: #fff;
    font-size: 2rem;
}