*{
	box-sizing: border-box;
	margin:0;
	padding:0;
	list-style-type: none;
	text-decoration: none;
	text-decoration: none;
	text-transform: all 0.3s linear;
	outline:none;
}
*::selecion{
	background-color: rgb(244, 6, 0);
	color: #fff;
}
body{
	font-family: 'Open Sans', sans-serif;
}
/*start of the header*/
header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)),
    url(./images/fitness2.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}